.app {
  min-height: 100vh;
  background-color: var(--light-color);
}

.main-content {
  margin-left: 250px;
  margin-top: 64px;
  min-height: calc(100vh - 64px);
}

.main-content-full {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}